<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Electrificaciones Magma</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-light d-none d-lg-block">
        <div class="row align-items-center top-bar">
            <div class="col-lg-3 col-md-12 text-center text-lg-start">
                <a href="" class="navbar-brand m-0 p-0">
                    <div class="logo"><img src="../assets/img/logo.png" alt="logo" width="300" margin-top="10"></div>
                </a>
            </div>
            <div class="col-lg-9 col-md-12 text-end">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <i class="fa fa-map-marker-alt text-primary me-2"></i>
                    <p class="m-0">Rosal #1253, Col. Tulipanes, Tlajomulco de zuñiga</p>
                </div>
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <i class="far fa-envelope-open text-primary me-2"></i>
                    <p class="m-0"><a href="mailto:contacto@electrificacionesmagma.com">contacto@electrificacionesmagma.com</a></p>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 py-lg-0 px-lg-4">
            <a href="" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
                <h1 class="text-primary m-0">MAGMA</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav me-auto">
                    <a href="index.html" class="nav-item nav-link active">Inicio</a>
                    <a href="#acercade" class="nav-item nav-link">Acerca de</a>
                    <a href="#servicio" class="nav-item nav-link">Servicios</a>
                    <a href="#contacto" class="nav-item nav-link">Contacto</a>
                </div>
                <div class="mt-4 mt-lg-0 me-lg-n4 py-3 px-4 bg-primary d-flex align-items-center">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-3">
                        <p class="mb-1 text-white">Lun - vie 9:00-19:00</p>
                        <h5 class="m-0 text-secondary">33 3646 3356</h5>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


   <!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="owl-carousel2" class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="../assets/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Ingenieria Electromecanica</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">proyectos electricos en media y baja tensión</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">aérea y subterránea, en fraccionamientos, corredores industriales y vías públicas.</p>
                            <a href="#servicio" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Saber más</a>
                            <a href="mailto:contacto@electrificacionesmagma.com" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Presupuesto gratis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="../assets/img/carousel-2.jpeg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Construcción</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Proyectos de construcción y obra civil</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">para complejo de oficinas, centros comerciales y naves industriales; Estacionamientos y alumbrados perimetrales.</p>
                            <a href="#servicio" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Saber más</a>
                            <a href="mailto:contacto@electrificacionesmagma.com" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Presupuesto gratis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- Carousel End -->



    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <img src="../assets/img/timeline.png" width="100%" alt="magmatimeline">
 
        </div>
    </div>
    <div class="container-xxl py-5">
        <div id="acercade" class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Acerca de Magma</h6>
                    <h1 class="mb-4">Somos una empresa cuyo objetivo es ofrecer servicios al sector privado y gubernamental</h1>
                    <p class="mb-4">Nuestra especialidad en construcción de obra electromecánica tanto en media tensión como en baja tensión, iluminación en naves industriales y alumbrado público, hasta líneas de distribución en media tensión aérea y subterránea.</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Media y baja tensión</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Iluminación y alumbrado público</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Presupuesto sin costo</p>
                    <div class="bg-primary d-flex align-items-center p-4 mt-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt fa-2x text-primary"></i>
                        </div>
                        <div class="ms-3">
                            <p class="fs-5 fw-medium mb-2 text-white">Lun - vie 9:00-19:00</p>
                            <h3 class="m-0 text-secondary">33 3646 3356</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pt-4" style="min-height: 500px;">
                    <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                        <img class="position-absolute img-fluid w-100 h-100" src="../assets/img/about-1.jpg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
                        <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="../assets/img/about-2.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fact bg-dark my-5 py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">12</h2>
                    <p class="text-white mb-0">Años De Experiencia</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">15</h2>
                    <p class="text-white mb-0">Tecnicos Expertos</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">35,000</h2>
                    <p class="text-white mb-0">Kva instalados</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-wrench fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">200</h2>
                    <p class="text-white mb-0">Proyectos Completados</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->


    <!-- Service Start -->
    <div id="servicio" class="container-fluid py-5 px-4 px-lg-0">
        <div class="row g-0">
            <div class="col-lg-3 d-none d-lg-flex">
                <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                    <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">12 Años De Experiencia</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="ms-lg-5 ps-lg-5">
                    <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="text-secondary text-uppercase">Nuestros Servicios</h6>
                        <h1 class="mb-5">Explora Nuestros Servicios</h1>
                    </div>
                    <div id="owl-carousel" class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-bolt fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Baja y Media Tensión</h4>
                            <p>Proyectos eléctricos en baja tensión aérea y subterránea, en fraccionamientos, corredores industriales y vías públicas.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Calidad</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Satisfacción</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Atención</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Cotizar<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-lightbulb fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Iluminación y Alumbrado</h4>
                            <p>Proyectos de iluminación para complejo de oficinas, centros comerciales y naves industriales; Alumbrado público, estacionamientos y alumbrados perimetrales.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Calidad</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Satisfacción</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Atención</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Cotizar<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-charging-station fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Distribución</h4>
                            <p>Proyectos de distribución en media tensión aérea y subterránea.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Calidad</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Satisfacción</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Atención</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Cotizar<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="fa fa-hammer fa-2x text-primary"></i>
                            </div>
                            <h4 class="mb-3">Construcción</h4>
                            <p>Construcción y ejecución de todos los proyectos mencionados anteriormente.</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Calidad</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Satisfacción</p>
                            <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Atención</p>
                            <a href="" class="btn bg-white text-primary w-100 mt-2">Cotizar<i class="fa fa-arrow-right text-secondary ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Booking Start -->
    <div class="container-fluid my-5 px-0" id="contacto">
        <div class="video wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="text-white mb-4">¡Queremos saber de ti!</h1>
        </div>
        <div class="container position-relative wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -6rem;">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="bg-light text-center p-5">
                        <h1 class="mb-4">Contactanos</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control border-0" placeholder="Nombre" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control border-0" placeholder="Email" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control border-0" placeholder="Mensaje"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="text-secondary text-uppercase">Testimonial</h6>
                <h1 class="mb-5">Nuestros Clientes</h1>
            </div>
            <div id="owl-carousel1" class="owl-carousel testimonial-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="../assets/img/testimonial-1.png" style="width: 100px; height: 100px;">
                    <div class="mb-2">
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                    </div>
                    <h5 class="mb-1">Sesajal</h5>
                </div>
                <div class="testimonial-item text-center">
                    
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="../assets/img/testimonial-2.png" style="width: 100px; height: 100px;">
                    <div class="mb-2">
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                    </div>
                    <h5 class="mb-1">Gob. Sanjuan de los lagos</h5>
                </div>
                <div class="testimonial-item text-center">
                    
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="../assets/img/testimonial-3.png" style="width: 100px; height: 100px;">
                    <div class="mb-2">
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                    </div>
                    <h5 class="mb-1">Grupo Polesa</h5>
                </div>
                <div class="testimonial-item text-center">
                    
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="../assets/img/testimonial-4.png" style="width: 100px; height: 100px;">
                    <div class="mb-2">
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                    </div>
                    <h5 class="mb-1">FORLIGHTING</h5>
                </div>
                <div class="testimonial-item text-center">
                    
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="../assets/img/testimonial-5.png" style="width: 100px; height: 100px;">
                    <div class="mb-2">
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                    </div>
                    <h5 class="mb-1">ENVASES</h5>
                </div>
                <div class="testimonial-item text-center">
                    
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="../assets/img/testimonial-6.png" style="width: 100px; height: 100px;">
                    <div class="mb-2">
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                    </div>
                    <h5 class="mb-1">PRODEMEX</h5>
                </div>
                <div class="testimonial-item text-center">
                    
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="../assets/img/testimonial-7.png" style="width: 100px; height: 100px;">
                    <div class="mb-2">
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                        <small class="fa fa-star text-secondary"></small>
                    </div>
                    <h5 class="mb-1">PISA Farmaceutica</h5>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div id="contacto" class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Dirección</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Rosal #1253, Col. Tulipanes, CP: 45647, Tlajomulco de Zuñiga, Jalisco.</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>(33) 3646 3356</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contacto@electrificacionesmagma.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Horario</h4>
                    <h6 class="text-light">Monday - Friday:</h6>
                    <p class="mb-4">09.00 AM - 07.00 PM</p>
                    <!-- <h6 class="text-light">Saturday - Sunday:</h6>
                    <p class="mb-0">09.00 AM - 12.00 PM</p> -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Servicios</h4>
                    <a class="btn btn-link" href="">Media y baja tensión</a>
                    <a class="btn btn-link" href="">Iluminación</a>
                    <a class="btn btn-link" href="">Construcción</a>
                    <a class="btn btn-link" href="">Alumbrado</a>
                    <a class="btn btn-link" href="">Distribución</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="index.html">electrificacionesmagma</a>, Todos los derechos reservados.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Desarrollo by <a class="border-bottom" href="https://agaveintellect.com">Agave Intellect</a> 
                        Diseño by <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>



</body>

</html>